<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="danger" shape="round" (click)="presentModal()">+ Add New Post</ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ios-notifications"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Xperiments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <aside class="profile_options">
      <ion-list>
        <div class="ion-no-padding ion-text-center">
          <ion-avatar style="display: inline-block">
            <ion-img src="../../../assets/imgs/imgAvtar.jpg"></ion-img>
          </ion-avatar>
        </div>
        <div class="ion-no-padding ion-text-center" (click)="approvePost(id)">
          <ion-icon name="copy"></ion-icon>
          <h5>Approval Request</h5>
        </div>
        <div class="ion-no-padding ion-text-center">
          <ion-icon name="bookmark"></ion-icon>
          <h5>Favourites</h5>
        </div>
        <div class="ion-no-padding ion-text-center">
          <ion-icon name="people"></ion-icon>
          <h5>My Groups</h5>
        </div>
        <div class="ion-no-padding ion-text-center">
          <ion-icon name="exit"></ion-icon>
          <h5>Logout</h5>
        </div>
      </ion-list>
    </aside>
    <section class="main_content">
      <div class="post_section ion-padding">
        <div class="max-width-app">
              <section class="latest_post">
                <ion-item class="ion-text-center ion-no-padding no-border" color="transparent">
                  <h4 class="lightColor">Latest Post</h4>
                  <ion-text class="lightColor" slot="end">New Post <ion-icon name="arrow-dropdown"></ion-icon>
                  </ion-text>
                </ion-item>
              </section>
              <ion-grid>
                <ion-row>
                  <ion-col size="4" *ngFor="let post of recentPost; let i = index">
                    <ion-card class="cardData">
                      <div class="post_picture">
                        <ion-badge color="danger" class="badgePlacement">Xcite</ion-badge>
                        <img src="../../../assets/imgs/{{post.postImage}}" />
                        <ion-avatar slot="start" class="smallImage">
                          <ion-img src="../../../assets/imgs/imgAvtar.jpg">
                          </ion-img>
                        </ion-avatar>
                      </div>
                      <ion-card-header>
                        <ion-card-title>{{post.title}}</ion-card-title>
                        <ion-card-subtitle>Posted By: {{post.by}}</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        {{post.description}}
                      </ion-card-content>
                      <ion-item class="activated">
                        <span slot="end">
                          <ion-icon name="heart" class="heartIcon" [class.activeFav]="liked" (click)="likePost(post.id)"></ion-icon>
                          <ion-icon name="bookmark" class="bookMarkIcon" [class.activeBookmark]="bookmarked" (click)="bookmerkPost(post.id)"></ion-icon>
                        </span>
                        <ion-card-subtitle class="datePost">{{post.postdate}}</ion-card-subtitle>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>
       
      </div>
      <div class="right_bar">
        <div class="ion-padding">
          <ion-list class="impDates">
            <h4>Important Dates</h4>
            <ion-item class="ion-no-padding">
              <ion-label>Charity Survey</ion-label>
              <ion-note slot="end">22nd Sept 2019</ion-note>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Charity Survey</ion-label>
              <ion-note slot="end">22nd Sept 2019</ion-note>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Charity Survey</ion-label>
              <ion-note slot="end">22nd Sept 2019</ion-note>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Charity Survey</ion-label>
              <ion-note slot="end">22nd Sept 2019</ion-note>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label>Charity Survey</ion-label>
              <ion-note slot="end">22nd Sept 2019</ion-note>
            </ion-item>
          </ion-list>

        </div>
        <div class="ion-padding">
          <ion-list>
            <h4>Post of The Week</h4>
            <ion-card class="ion-no-margin cardData">
              <div class="post_picture">
                <img src="../../../assets/imgs/download.jpg" />
              </div>
              <ion-card-header>
                <ion-card-title>Post Title</ion-card-title>
                <ion-card-subtitle>Posted By: Pooja Jain</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>
              <ion-item class="activated">
                <span slot="end">
                  <ion-icon name="heart" class="heartIcon" ></ion-icon>
                  <ion-icon name="bookmark" class="bookMarkIcon"></ion-icon>
                </span>
                <ion-card-subtitle class="datePost">02nd Jan 2019</ion-card-subtitle>
              </ion-item>
            </ion-card>
          </ion-list>
        </div>
      </div>
    </section>
  </main>

</ion-content>