<ion-header >
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="md-close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Create A {{pageName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item *ngIf="pageName === 'Post'">
        <ion-label position="stacked">Title</ion-label>
        <ion-input type="text" clearOnEdit="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="pageName === 'Post'">
        <ion-label position="stacked">Group</ion-label>
        <ion-select placeholder="Select">
          <ion-select-option value="f">Xite</ion-select-option>
          <ion-select-option value="m">Anuraag</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="pageName === 'Forum'">
        <ion-label position="stacked">Forum Name</ion-label>
        <ion-input type="text" clearOnEdit="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="pageName === 'Member'">
        <ion-label position="stacked">Assign Member</ion-label>
        <ion-select placeholder="Select">
          <ion-select-option value="Keerthana">Keerthana</ion-select-option>
          <ion-select-option value="Pooja">Pooja</ion-select-option>
        </ion-select>
        
    </ion-item>
    <ion-item *ngIf="pageName === 'Forum'">
        <ion-label position="stacked">Assign Admin</ion-label>
        <ion-select placeholder="Select">
          <ion-select-option value="Aliya">Aliya</ion-select-option>
          <ion-select-option value="Vishakha">Vishakha</ion-select-option>
          <ion-select-option value="Yogesh">Yogesh</ion-select-option>
        </ion-select>
        
    </ion-item>
    <ion-item *ngIf="pageName === 'Post' || pageName === 'Forum'">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea clearOnEdit="true"></ion-textarea>
    </ion-item>
      <ion-item class="ion-no-padding" *ngIf="pageName === 'Post'">
          <ion-chip>
              <ion-avatar>
                <img src="../../../assets/imgs/imgAvtar.jpg">
              </ion-avatar>
              <ion-label>Upload Picture</ion-label>
            </ion-chip>
      </ion-item>    
</ion-content>
<ion-footer>
  <ion-toolbar>
      <section class="ion-text-right ion-padding-horizontal"><ion-button color="danger" shape="round" (click)="dismiss()">Save</ion-button></section>
  </ion-toolbar>
</ion-footer>